<html>
  <head>
    <meta charset="UTF-8">
    <link href="./assets/css/general.css" rel="stylesheet">
    <title>Hm</title>
  </head>

  <audio id="music" autoplay src="/assets/OvMoiOmm_Amiss.mp3"></audio>
  
  <nav id="nav" class="card">
    <!-- <div role="link" onclick="location.href = '/';" > -->
      <img onclick="location.href = '/';"  src="/assets/img/badge.png">
    <!-- </div> -->

    <!-- <div id="musicbtn" role="button" onclick="alert('Amiss [Minor Edit], Ov Moi Omm (Free Music Archive) CC BY'); document.getElementById('music').play(); document.getElementById('musicbtn').src = 'assets/img/musicplaying.gif'"> -->
      <img onclick="alert('Amiss [Minor Edit], Ov Moi Omm (Free Music Archive) CC BY'); document.getElementById('music').play(); document.getElementById('musicbtn').src = 'assets/img/musicplaying.gif'" src="assets/img/musicbutton.png">
    <!-- </div> -->
  </nav>
    
  <body style="overflow: auto;">

    <h1>Hi, this is weird.</h1>

    <p>its kinda hard for me to describe myself.</p>

    <p>Im currently going by Sydney, but i change a lot. its hard for me to stay static, which is why i didn't use pages <b>(badumdish)</b></p>

    <p>I like Chinese street cats, and you should too.</p>
    <p>My favorite cat from the CSC's, is <a href="https://streetcat.wiki/index.php/Mr._Doom">Mr.Doom</a>, as he reminds me of myself, and is just awesome</p>
    <img style="max-width: 99vw;" src="assets/img/MrDoomLoom.png" alt="A picture of Mr.Doom, the cat.">

    <br>

    <p>I also like making art. most of it is bad unfortuantely, but thats part of the process (hopefully)</p>
    <p>i make most of it physically but i've thought about making digital stuff aswell.</p>
    
    <p>thats pretty much it. i made this as a personal website. I've made a few others, but this one i really want to just be whatever the heck i want, even if it isn't sleak or modern. basically a testing ground (kinda)</p>

    <br>

    <img style="height: 31; width: 88;" src="/assets/img/badge.png">
        
    <a href="https://www.7-zip.org" target="_blank">
      <img src="/assets/badges/7zip.gif">
    </a>

    <img alt="Don't be a phone chump! Get a computer! NOW!" src="assets/badges/phonechump.gif">

    <img alt="jquery is EVIL!" src="assets/badges/jquery.gif">

    <a href="https://kittyvomit.nekoweb.org/"><img alt="kitty vommit" src="assets/badges/kitvom2.gif"> </a>
        
  </body>
    
  <script type="text/javascript" src="assets/js/useful.js"></script>
  <!-- <script type="text/javascript" src="assets/js/homepage.js"></script> -->
</html>
