<html>
  <head>
    <meta charset="UTF-8">
    <link href="./assets/css/general.css" rel="stylesheet">
    <title>Hm</title>
  </head>

  <audio id="music" autoplay src="/assets/OvMoiOmm_Amiss.mp3"></audio>
  
  <nav id="nav" style="font-size: 40px;" class="card">
    <div role="link" onclick="location.href = '/';" >
      <img src="/assets/img/badge.png">
    </div>

    <div id="musicbtn" role="button" onclick="alert('Amiss [Minor Edit], Ov Moi Omm (Free Music Archive) CC BY'); document.getElementById('music').play(); document.getElementById('musicbtn').src = 'assets/img/musicplaying.gif'">
      <img src="assets/img/musicbutton.png">
    </div>
  </nav>
    
  <body>
    <!-- <h1>Welcome home, weary travler.</h1> -->

    <ul style="text-align: center;">
      <li><a href="/">Home (where you are)</a></li>
      <li><a href="/about">Who am i?</a></li>
      <li><a href="/blog">Where i talk about boring things (kinda a blog?)</a></li>
      <li><a href="/uc">Art (Unfinished have to setup my filehost)</a></li>
    </ul>

    <img style="height: 31; width: 88;" src="/assets/img/badge.png">
        
    <a href="https://www.7-zip.org" target="_blank">
      <img src="/assets/badges/7zip.gif">
    </a>

    <img alt="Don't be a phone chump! Get a computer! NOW!" src="assets/badges/phonechump.gif">

    <img alt="jquery is EVIL!" src="assets/badges/jquery.gif">

    <a href="https://kittyvomit.nekoweb.org/"><img alt="kitty vommit" src="assets/badges/kitvom2.gif"> </a>

    <div class="position-relative marquee-container d-none d-sm-block" style="overflow: hidden;">
      <div id="newsContainer" class="marquee d-flex justify-content-around" style="overflow: hidden;">
      </div>
    </div>
        
  </body>
    
  <script type="text/javascript" src="assets/js/useful.js"></script>
  <script type="text/javascript" src="assets/js/homepage.js"></script>
</html>
