<html>
    <audio id="music" autoplay
    src="/assets/OvMoiOmm_Amiss.mp3"></audio>
    <div style="font-size: 40px; transform: rotate(1deg);">
        <span> YOU aRE CURRENTLY<span> <span id="state">HERE!?</span>
        <button style="  display: block; width: 100%; border: none; background-color: pink; padding: 14px 28px; font-size: 16px; cursor: pointer; text-align: center;" 
            onclick="alert('soon (soon) (soon) (soon) (soon) (soon) (soon) (soon)')">
            Press?
        </button>
    </div>
    <button 
    onclick="alert('Amiss [Minor Edit], Ov Moi Omm (Free Music Archive) CC BY'); document.getElementById('music').play();">
    play some music?
    </button>

    <body style="background-color: coral">
        <br>
    
        <h1 style="text-align: center;">
            Why?
        </h1?>
      
        <br>
        <div style="align-content: center;">
            <img src="https://thispersondoesnotexist.com/">
        </div>
    </body>
    <img style="height: 256px; transform: rotate(-1deg);" src="/assets/aboutus.png">
    <br>
</html>
