<html>
    <head>
        <meta charset="UTF-8">
        <link href="./assets/css/general.css" rel="stylesheet">
        <title>Hm</title>
    </head>

    <audio id="music" autoplay
    src="/assets/OvMoiOmm_Amiss.mp3"></audio>
    <nav style="font-size: 40px;" class="card">
        <p>YOU ARE CURRENTLY HERE!?</p>            

        <div id="musicbtn" role="button" onclick="alert('Amiss [Minor Edit], Ov Moi Omm (Free Music Archive) CC BY'); document.getElementById('music').play(); document.getElementById('musicbtn').src = 'assets/img/musicplaying.gif'">
            <img src="assets/img/musicbutton.png">
        </div>
    </nav>
    
    <body>
        <br>
    
        <h1 style="text-align: center;">
            Why?
        </h1?>
      
        <br>
        <div style="align-content: center;">
            <img style="height: 256px;" src="assets/img/constructing.jpg">
        </div>

        We are currently under construction. The wizards are working very hard.
    </body>
    
    <br>
    <br>
    <br>
    
    <img style="height: 256px;" src="/assets/img/badge.png">
    
    <br>

    <a href="https://www.7-zip.org" target="_blank">
        <img src="/assets/badges/7zip.gif">
    </a>

</html>
