div.content {
    margin-left: 0px;
    padding: 1px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px; /* this is why its 80 instead of 40 :/ */
}
    
.box {
    border-radius: 25px;
    backdrop-filter: blur(17px) saturate(121%);
    -webkit-backdrop-filter: blur(17px) saturate(121%);
    background-color: rgba(255, 64, 201, 0.67);
    border: 1px solid rgba(255, 255, 255, 0.125);
    
    padding: 20px;
    
    width: calc(50% - 80px); /* cuz padding (idk if this works on mobile but we'll find out soon nuff) */
    height: fit-content;
}
  